// header
header{        
    // background-image: url(/multimedia/img/backg.png);
    // background-repeat: repeat;
    // background-size:500px;
    
    background-color: #d3d00c49;
    margin: 0 auto;
    height: 5rem;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px dashed red; */
}
#header-logo{
    font-family:$font-orbitron;
    font-size: 1.5rem;
}
#header-logo-search{
    text-align: left;
    margin: 0 10% ;    
    box-sizing: content-box;    
    input{
        height: 1.4rem;
        width: 20rem;
        border-radius: 5px;
        border: 1px dotted gray;
        color: rgba(12, 12, 12, 0.651);
        box-shadow: 2px 2px  rgb(255, 0, 0);;
    }
}
.header-logo-search__element{
    display: inline;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #000000f5;
}
#header-cart{
    font-family:$font-orbitron;
    font-size: 1.3rem;
    color:rgb(255, 0, 0);
    text-shadow: 2px 2px #000000f5;
}