@font-face {
    font-family: "Orbitron";
    src: url(/multimedia/fonts/Orbitron-Black.ttf);
}
@font-face {
    font-family: "Jura";
    src: url(/multimedia/fonts/Jura-VariableFont_wght.ttf);
}
$font-jura: "Jura",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
$font-orbitron:'Orbitron','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

